/* 

Orange color: #e67e22

*/

/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: gray;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1, h2, h3 {
    font-weight: 300; 
    text-transform: uppercase;
    font-weight:bolder;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 105%;
    margin-bottom: 15px;
} 

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS -----*/
.intro {
     line-height: 145%;
     width: 70%;
     margin-left: 15%;
     margin-bottom: 40px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 20px;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 15px;
}

.btn-dim:link,
.btn-dim:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-dim:hover,
.btn-dim:active {
    border: 1px solid #fff;
    color: #fff;
}

/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/header3.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.head-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -30px;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: -30px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
} 

/* --------------------------------------- */
/* SECTION FEATURES */
/* --------------------------------------- */

.section-features {
    margin-bottom: -180px;
}

/* --------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.app-symbol {
    height: 300px;
    width: auto;
    float: right;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 45px;
}

.steps-box:first-child {
    margin-top: 30px;
    width: 30%;
}

.steps-box:last-child {
    margin-top: 70px;
    margin-left: 190px;
    width: 50%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.work-steps p {
    font-weight: bold;
    font-size: 105%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* --------------------------------------- */
/* USERS" COMMENTS */
/* --------------------------------------- */

.section-comments {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/header.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff ;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 150%;
    position: relative;
    margin-top: 40px;
    font-weight: bold;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position:absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block ;
}


cite img {
    width: 200px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* --------------------------------------- */
/* SIGN UP */
/* --------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 3px 3px #eaeaea;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
    vertical-align:middle;
}

.check-icon {
    padding-right: 20px;
}

/* --------------------------------------- */
/* FORM */
/* --------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
} 

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}